div.cards-list
  block items
//компонент cards-list является контейнером для других элементов (items).
//компонент cards-list описывает поведение карточек (items) внутри себя, но не должен включать сами карточки.
//в компоненте cards-list мы создали блок (карточек) с именем items, потом подключили компонент через include (в index) и описали блок в нужном месте (в index)
