div.cards-list
  block items
//Часто компонент является контейнером для других элементов. В нашем примере есть компонент cards-list,
//он описывает поведение карточек внутри себя, но не должен включать сами карточки.
