* {
  /*box-sizing: border-box;*/
}

html {
  height: 500px;
}

body {
  --main-text-color: #152028;
  --main-background-color: #fff;

  display: grid;
  place-items: center;
  min-height: 100%;
  margin: 0;
  color: var(--main-text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: var(--main-background-color);
}

.title {
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.something {
  width: max(250px, 50vw);
  height: max(250px, 50vw);
  background-image: url(../svg/tsss.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

label {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

input[type='checkbox'] {
  width: 27px;
  height: 27px;
  accent-color: #000;
}

body:has(.theme-toggler__control:checked){
  color: var(--main-background-color);
  background-color: var(--main-text-color);
}

input[type='checkbox']:focus-visible {
  outline: 2px solid #000;
  outline-offset: 0;
}
