html {
  --main-font: Raleway, sans-serif;
  --accent-font: 'STIX Two Text', serif;
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: transporent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-block-start: 10%;
}

.heading {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 0.9;
  font-family: var(--accent-font, serif);
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-block: 20px;
}

.header__logo {
  padding: 20px 0;
}

.header__theme-toggler {
  list-style: none;
  gap: 20px;
  display: flex;
  padding: 0;
}

.header__theme-button {
  position: relative;
  border: none;
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  background-color: transparent;
}

.header__theme-button:hover {
  text-decoration: underline;
}

button:focus,
a:focus {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid currentColor;
}

button:disabled {
  pointer-events: none;
}

.header__theme-button_is-active {
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color, #FFAB6B);
  inline-size: calc(85% + 0px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  margin-inline-start: calc((85% + 0px) - 2 * (85% + 0px));
}

.header__theme-button_type_dark {

}

.header__theme-button_type_light {

}

.content-section {
  padding: 0 5vw;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-child) {
  padding-block-end: 1.5em;
}

.content__text-link {
  color: inherit;
}

.content__blockquote {
  display: flex;
  margin: 0 auto 1.5em;
  font-style: italic;
  line-height: 2;
  inline-size: 75%;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-child) {
  padding-block-end: 10px;
}

.content__list li::before {
  content: '';
  background-image: url(../images/marker-light.svg);
  inline-size: 15px;
  block-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: -25px;
  margin-block-start: -7.5px; /* отодвигаем наверх*/
}

.content__text-block_type_first-lettered .content__paragraph:first-child::first-letter {
  background-color: var(--accent-color, #FFAB6B);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9px;
  padding: 0 4px;
  margin-inline-end: 1px;
  display: inline-block;
}

.content__figure {
  margin: 7% auto;
  inline-size: calc(100% + 2 * 5vw); /* 2 по content-section = 5vw */
  position: relative;
  inset-inline-end: 5vw; /* content-section = 5vw */ /* т.к. картинка уехала на 2 по 5 vw вправо от левого отступа в 5vw */
}

.content__picture-caption {
  text-align: center;
  border-block-end: 1px solid currentColor;
  padding: 20px 0;
}

.content__picture {
  inline-size: 100%;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 7%;
  border: 1px solid var(--text-color, #312A4E);
  aspect-ratio: 4/3;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--accent-color, #FFAB6B);
  --size-after: calc(100% + 8px);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  margin-inline-start: calc(var(--size-after) - 2 * var(--size-after));
}

.footer {
  margin-block-start: 10%;
  border-block-start: 1px solid currentColor;
  padding: 2.5%;
  text-align: center;
}

.footer__copyright {
  font-size: 18px;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .header__theme-button_is-active::after {
  background-image: url(../images/pattern.svg);
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  border: 1px solid currentColor;
}

.theme_dark .content__list li::before {
  background-image: url(../images/marker-dark.svg);
}
